        <section class="sec1 w1440 page1_sec">
            <div class="main_img">
                <div>
                    <img src="./img/page1/arrow_left.PNG">
                </div>
                <div class="right">
                    <img src="./img/page1/arrow_right.PNG">
                </div>
            </div>
        </section>
        <section class="trip_wrap w1200 page1_sec">
            <div class="title">
                <div class="wave"></div>
                <h2>서문시장 야시장과 함께하는 
                    <br>夜한 대구여행</h2>
            </div>
            <article class="trip">
                <figure>
                    <div>
                        <a class="trip1" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>야시장 소개</h3> 
                            <p>야시장 안내</p>
                        </div>
                        <strong>대구 제 1의 전통시장</strong>
                        <strong>서문시장을 만나보세요!</strong>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a class="trip2" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>먹거리 살거리</h3> 
                            <p>먹거리</p>
                        </div>
                        <strong>눈과 입이 즐거운</strong>
                        <strong>서문시장야시장</strong>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a class="trip3" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>서문거리 예술문화</h3> 
                            <p>행사이벤트안내</p>
                        </div>
                        <strong>오감만족의 완성!</strong>
                        <strong>날마다 즐거운 행사</strong>
                    </figcaption>
                </figure>
            </article>
        </section>
        <section class="variety w1200 page1_sec">
            <div class="title">
                <div class="wave"></div>
                <h2>밤마다 펼쳐지는 버라이어티 한 세상!</h2>
                <p>오감만족! 육감충족! 밤의 즐거움이 한자리에!</p>
            </div>
            <article>
                <div class="var_img"></div>
            </article>
        </section>
        <section class="w1200 page1_sec">
            <div class="title">
                <div class="wave"></div>
                <h2>GALLERY</h2>
            </div>
            <article class="gallery_wrap">
                <figure>
                    <div>
                        <a class="gall1" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>참여마당</h3> 
                            <p>현장스케치</p>
                        </div>
                        <strong>서문 야시장 중앙로</strong>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a class="gall2" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>참여마당</h3> 
                            <p>현장스케치</p>
                        </div>
                        <strong>야시장거리</strong>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a class="gall3" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>참여마당</h3> 
                            <p>현장스케치</p>
                        </div>
                        <strong>서문시장 야시장 입구</strong>
                        </figcaption>
                </figure>
                <figure>
                    <div>
                        <a class="gall4" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>먹거리살거리</h3> 
                            <p>한국전통식</p>
                        </div>
                        <strong>서문시장표 부침개</strong>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a class="gall5" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>먹거리살거리</h3> 
                            <p>퓨전&글로벌</p>
                        </div>
                        <strong>카배츠야끼</strong>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a class="gall6" href=""></a>
                    </div>
                    <figcaption>
                        <div class="fig_title">
                            <h3>먹거리살거리</h3> 
                            <p>스트리트푸드</p>
                        </div>
                        <strong>야채뚱땡 삼겹말이</strong>
                    </figcaption>
                </figure>
            </article>
        </section>
        <section class="noti_wrap_bg page1_sec">
            <div class="noti_wrap w1200">
                <div class="main_notice">
                    <div class="title">
                        <div class="wave"></div>
                        <h2>NOTICE BOARD</h2>
                    </div>
                    <ul class="bor_wrap">
                        <li><a class="board1" href=""></a></li>
                        <li><a class="board2" href=""></a></li>
                        <li><a class="board3" href=""></a></li>
                        <li><a class="board4" href=""></a></li>
                    </ul>
                </div>
                <div class="post_wrap">
                    <div class="food_map">
                        <div class="title">
                            <div class="wave"></div>
                            <h2>FOOD MAP</h2>
                        </div>
                        <ul class="food_wrap">
                            <li>
                                <a href="" class="fd1"></a>
                            </li>
                            <li>
                                <a href="" class="fd2"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="event">
                        <div class="title">
                            <div class="wave"></div>
                            <h2>EVENT & SERVICE</h2>
                        </div>
                        <ul class="es_wrap">
                            <li >
                                <a class="es1" href=""></a>
                            </li>
                            <li >
                                <a class="es2" href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>    
        </section>
    