        <h2>SEOMUN NIGHT MARKET</h2>
        <section class="join_wrap">
            <ul>
                <li class="jo_id_box">
                    <p>아이디</p>
                    <div class="write">
                        <input type="text">
                    </div>
                </li>
                <li class="pw_box">
                    <p>비밀번호</p>
                    <div class="write">
                        <input type="password">
                    </div>
                </li>
                <li class="pw_box2">
                    <p>비밀번호 재확인</p>
                    <div class="write">
                        <input type="password">
                    </div>
                </li>
                <li class="name_box">
                    <p>이름</p>
                    <div class="write">
                        <input type="text">
                    </div>
                </li>
                <li class="mf_box">
                    <p>성별</p>
                    <div class="write">
                        <select>
                            <option>남</option>
                            <option>여</option>
                        </select>
                    </div>
                </li>
                <li class="mail_box">
                    <p>본인 확인 이메일
                        <span>(선택)</span>
                    </p>
                    <div class="write">
                        <input type="text">
                    </div>
                </li>
                <li class="phone_box">
                    <p>휴대전화</p>
                    <div class="write">
                        <input type="text">
                    </div>
                </li>
                <li class="join_box">
                    <div>
                        <a href="#">가입하기</a>
                    </div>
                </li>
            </ul>
        </section>
 