<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/notice_write.css">
    <link rel="stylesheet" href="./css/page_common.css">
    <link rel="stylesheet" href="./css/page1.css">
    <link rel="stylesheet" href="./css/page2.css">
    <link rel="stylesheet" href="./css/page3.css">
    <link rel="stylesheet" href="./css/page4.css">
    <link rel="stylesheet" href="./css/join.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="./js/script.js"></script>
</head>
<body>
    <header>
        <div class="head_top">
            <ul class="w1200">
                <li id="login" onclick="javascript:KakaoLogin();"><a href="/login">LOGIN</a></li>
                <li>|</li>
                <li><a href="/join">JOIN</a></li>
                <li><span id="user"></span>님</li>
                <li id="logout" onclick="javascript:KakaoLogout();">LOGOUT</li>
            </ul>
        </div>
        <div class="nav_wrap w1200">
            <a class="logo" href="/"></a>
            <a class="min_nav" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <ul class="outnav">
                <li>
                    <a href="/page2">야시장 소개</a>
                    <ul class="innav">                            
                        <li><a href="page2">야시장안내</a></li>
                        <li><a href="#">매대위치</a></li>
                    </ul>
                </li>
                <li><a href="#">먹거리 살거리</a>
                    <ul class="innav">                            
                        <li><a href="#">퓨전&글로벌</a></li>
                        <li><a href="#">한국전통식</a></li>
                        <li><a href="#">스트리트푸드</a></li>
                        <li><a href="#">살거리</a></li>
                    </ul>
                </li>
                <li><a href="#">서문거리 예술문화</a>
                    <ul class="innav">                            
                        <li><a href="#">거리예술학교</a></li>
                        <li><a href="#">행사이벤트안내</a></li>
                        <li><a href="#">주요관광지</a></li>
                    </ul></li>
                <li><a href="/page3">참여마당</a>
                    <ul class="innav">                            
                        <li><a href="/page3">공지사항</a></li>
                        <li><a href="#">행사이벤트안내</a></li>
                        <li><a href="#">현장스케치</a></li>
                        <li><a href="#">언론보도</a></li>
                        <li><a href="#">문의 및 제안</a></li>
                        <li><a href="#">입점신청</a></li>
                    </ul></li>
                <li><a href="#">입점신청</a>
                    <ul class="innav">                            
                        <li><a href="#">입점절차</a></li>
                        <li><a href="#">식품셀러 입점신청</a></li>
                        <li><a href="#">프리마켓셀러 입점신청</a></li>
                        <li><a href="#">입점신청 확인</a></li>
                    </ul>
                </li>               
            </ul>
        </div>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <div class="w1440">
            <ul class="footer_wrap">
                <li>
                    <img src="./img/page1/footer1.jpg">
                </li>
                <li>
                    <img src="./img/page1/footer2.jpg">
                </li>
                <li>
                    <img src="./img/page1/footer3.jpg">
                </li>
                <li>
                    <img src="./img/page1/footer4.jpg">
                </li>
                <li>
                    <img src="./img/page1/footer5.jpg">
                </li>
            </ul>
        </div>
        <address>
            <h6>
                대구 남구 대명로 215 대구광역시상인회관4층, 
            <br>재단법인 대구전통시장진흥재단ㆍ상권육성팀 Admin
            <br>Seomun Night Market 
            <br>Ⓒ2016 Daegu traditional Market Support Agency. 
            <br>All Rights Reserved
            </h6>
        </address>
    </footer>
    
</body>
</html>