        <section class="log_main_wrap">
            <h2>SEOMUN NIGHT MARKET</h2>
            <div class="form_wrap">
                <form>
                    <div class="id">
                        <input type="text" class="id_box" placeholder="아이디">
                    </div>
                    <div class="pw">
                        <input type="text" class="id_box" placeholder="비밀번호">
                    </div>
                    <div class="btn_wrap">
                        <div class="login_btn" type="submit">로그인하기</div>
                        <div class="yellow" type="submit" onclick="javascript:KakaoLogin();"></div>
                    </div>
                </form>
                <ul>
                    <li>
                        <a href="">아이디 찾기</a>
                    </li>
                    <li>
                        <a href="">비밀번호 찾기</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
        </section>
