        <div class="banner">
            <div class="banner_img2">
                 <div class="banner_txt2">夜하게 놀자, 대한민국 대표 야시장
                <br>서문시장야시장</div>
            </div>
        </div>
        <div class="main_wrap">
            <div class="top">
                <div class="inb_nav">홈 > 야시장 소개 > 야시장 안내</div>
                <h2>단순한 스트리트마켓이 아니다!
                    <br>글로벌하게 먹고, 마시고, 즐길 수 있는 
                    <br>대한민국 No.1 야시장</h2>
            </div>
            <section class="intro w1200">
                <div class="title">
                    <div class="wave"></div>
                    <h2>Seomun Night Market</h2>
                </div>
                <article>
                    <div class="intro_wrap">
                        <div class="intro_img img1"></div>
                        <div class="intro_txt txt_wrap1">
                            <p class="txt_top">대한민국 대표 야시장 
                                <br>‘서문시장 야시장’</p>
                            <p class="txt_mid">여러분과 함께 만들어가는 夜한 테마파크!</p>
                            <p class="txt_bot">서문시장 야시장은 2016년 6월에 개장한,
                                <br>총거리 350M에 달하는 대형 야시장입니다.
                                <br>우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                                <br>총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                                <br>매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                                <br>복합문화공간입니다. 
                                <br>특히, 먹거리 일색인 타 야시장과는 달리
                                <br>먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는
                                <br>마법같은 관광지이기도 합니다.</p>
                        </div>
                    </div>
                    <div class="intro_wrap">
                        <div class="intro_img img2"></div>
                        <div class="intro_txt txt_2">
                            <p class="txt_top aline_r">연중무휴로 펼쳐지는 Fantastic Night Party!</p>
                            <p class="txt_mid aline_r">야시장을 통한 성공적인 창업상단 육성!</p>
                            <p class="txt_bot aline_r">서문시장 야시장은 대구의 밤문화와 
                                <br>어디에서도 찾을 수 없는 경험을 제공합니다. 
                                <br>다양한 첨단, 문화예술이 복합되어 
                                <br>글로벌, 퓨전 먹거리를 비롯하여 
                                <br>대구에서만 찾을 수 있는 독특한 음식 
                                <br>우리의 추억과 감성을 자극하는 
                                <br>다양한 볼거리, 살거리가 즐비합니다. 
                                <br>대구로 방문하신다면 반드시 찾아가봐야 할 1순위는 
                                <br>단연 ‘서문시장 야시장’입니다.</p>
                        </div>
                    </div>
                    <div class="intro_wrap">
                        <div class="intro_img img3"></div>
                        <div class="intro_txt">
                            <p class="txt_top">서문 야시장의 또 다른 즐거움!
                                <br>거리예술학교</p>
                            <p class="txt_mid">밤마다 펼쳐지는 다양한 볼거리들!</p>
                            <p class="txt_bot">야시장에서 음식만 있다면 그건 반쪽짜리!
                                <br>대구 서문시장 야시장은 볼거리와 
                                <br>즐길거리도 가득하답니다.
                                <br>맛있는 음식과 함께 
                                <br>자유롭게 구경하면서 즐겨보세요.
                                <br>즐거움이 가득한 밤이 
                                <br>당신을 기다립니다!</p>
                        </div>
                    </div>
                </article>
            </section>
            <section class="map_wrap w1200">
                <div class="title">
                    <div class="wave"></div>
                    <h2>MAP</h2>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.196479843329!2d128.57833581526396!3d35.86870163015105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1651421257494!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </section>
        </div>
        <div class="gray_bg">    
            <section class="video_wrap w1200">
                <div class="title">
                    <div class="wave"></div>
                    <h2>VIDEO</h2>
                 </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/zLoBR1w_pQg"></iframe>
                </div>
            </section>
        </div>
